.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-header {
  margin-bottom: 1rem;
  color: #00bcd4;
}

.message-list {
  margin-bottom: 1rem;
  flex-grow: 1;
  overflow: auto;
  max-height: calc(100vh - 250px);
  background-color: #212529;
  border: 1px solid #333;
  padding: 1rem;
}

.message-item {
  border: 0;
  max-width: 70%;
  border-radius: 20px;
  padding: 10px 15px;
  margin: 5px 0;
}

.message-item-self {
  align-self: flex-end;
  background-color: #00bcd4;
  color: #ffffff;
  margin-left: auto;
}

.message-item-other {
  align-self: flex-start;
  background-color: #2c3034;
  color: #b0b0b0;
}

.form-container {
  margin-top: auto;
}

.form-control {
  margin-right: 0.5rem;
  background-color: #2c3034 !important;
  border-color: #333 !important;
  color: #b0b0b0 !important;
}

.form-control:focus {
  background-color: #2c3034 !important;
  border-color: #00bcd4 !important;
  color: #b0b0b0 !important;
}

.send-button {
  margin-right: 0.5rem;
  background-color: #00bcd4 !important;
  border-color: #00bcd4 !important;
}

.send-button:hover {
  background-color: #0097a7 !important;
  border-color: #0097a7 !important;
}

/* Override Bootstrap styles */
.btn-primary {
  background-color: #00bcd4 !important;
  border-color: #00bcd4 !important;
}

.btn-primary:hover {
  background-color: #0097a7 !important;
  border-color: #0097a7 !important;
}

.btn-secondary {
  background-color: #2c3034 !important;
  border-color: #333 !important;
}

.btn-secondary:hover {
  background-color: #23272b !important;
  border-color: #1d2124 !important;
}